absl-py
alabaster
altair
appdirs
argon2-cffi
asgiref
astor
astunparse
async-generator
atomicwrites
attrs
autopep8
Babel
backcall
base58
bleach
blinker
cachetools
certifi
cffi
chardet
click
cmake
colorama
coverage
cvxopt
cycler
decorator
defusedxml
distlib
Django
dlib
docutils
easydict
entrypoints
filelock
Flask
Flask-Cors
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
idna
image
imagesize
iniconfig
ipykernel
ipynb
ipyparallel
ipython
ipython-genutils
ipythonblocks
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
Keras
keras-nightly
Keras-Preprocessing
kiwisolver
lmdb
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mediapipe
mistune
mtcnn
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pipenv
pluggy
prometheus-client
prompt-toolkit
protobuf
py
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydeck
pydotplus
Pygments
Pympler
pyparsing
pyrsistent
pytesseract
pytest
pytest-cov
python-dateutil
pytz
pytz-deprecation-shim
pypiwin32
pywinpty
PyYAML
pyzmq
qpsolvers
qtconsole
QtPy
quadprog
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
Send2Trash
six
smmap
snowballstemmer
sortedcontainers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
typing-extensions
tzdata
tzlocal
urllib3
validators
virtualenv
virtualenv-clone
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
